@{
    ViewBag.Title = "Home Page";
}
<div class="panel panel-default">
    <div class="panel-body" data-ng-app="applicationApp" data-ng-controller="applicationCtrl" >
        <div class="form-group">
            <input class="form-control" placeholder="Your name" type="text" name="application.clientname" data-ng-model="application.ClientName" value="{{application.ClientName}}" />
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Email" type="text" name="application.clientemail" data-ng-model="application.ClientEmail" value="{{application.ClientEmail}}" />
        </div>
        <div class="form-group">
            <label>Application</label>
            <textarea class="form-control" rows="3" name="application.Text" data-ng-model="application.Text" ></textarea>
        </div>
        <button class="btn btn-primary btn-sm" name="btnSend" data-ng-click="createApplication(application)">Send</button>
    </div>
</div>